.is-fixed {
    position: fixed;
    z-index: 9999;
    left: 0;
    bottom: 0;
    max-width: 25%;
}
.notification.y-5 {
    padding-top: 5em;
    padding-bottom: 5em;
}
.progress {
    width: 95px;
    margin: 0 auto;
}
.select {
    margin: .15em 0em;
}
.control {
    line-height: 2.5em;
}
