.is-fixed {
    position: fixed;
    z-index: 9999;
    right: 0;
    bottom: 0;
    max-width: 25%;
}
.notification.y-5 {
    padding-top: 5em;
    padding-bottom: 5em;
}
.progress {
    width: 95px;
    margin: 0 auto;
}
